TestConsole/Service References/TreeServiceReference/TreeService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTO.TreeTypeDtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTO.TreeTypeDtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:46271/TreeService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DTO" />
  <xs:complexType name="DocumentTypeDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/DTO" base="q1:TreeDto">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DocumentTypeDto" nillable="true" type="tns:DocumentTypeDto" />
  <xs:complexType name="ArrayOfDocumentTypeDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentTypeDto" nillable="true" type="tns:DocumentTypeDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentTypeDto" nillable="true" type="tns:ArrayOfDocumentTypeDto" />
  <xs:complexType name="JuridicalPersonDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/DTO" base="q2:TreeDto">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="JuridicalPersonDto" nillable="true" type="tns:JuridicalPersonDto" />
  <xs:complexType name="ArrayOfJuridicalPersonDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JuridicalPersonDto" nillable="true" type="tns:JuridicalPersonDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJuridicalPersonDto" nillable="true" type="tns:ArrayOfJuridicalPersonDto" />
  <xs:complexType name="RegionDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/DTO" base="q3:TreeDto">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegionDto" nillable="true" type="tns:RegionDto" />
  <xs:complexType name="EducationLevelDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/DTO" base="q4:TreeDto">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EducationLevelDto" nillable="true" type="tns:EducationLevelDto" />
  <xs:complexType name="LocalityTypeDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/DTO" base="q5:TreeDto">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LocalityTypeDto" nillable="true" type="tns:LocalityTypeDto" />
</xs:schema>