AISSPO/Service References/TreeServiceReference/TreeService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:46271/TreeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfTreeDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TreeDto" nillable="true" type="tns:TreeDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTreeDto" nillable="true" type="tns:ArrayOfTreeDto" />
  <xs:complexType name="TreeDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseTreeDto">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TreeDto" nillable="true" type="tns:TreeDto" />
  <xs:complexType name="BaseTreeDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="CreateDateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Id" type="ser:guid" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ParentId" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StateId" type="ser:guid" />
          <xs:element minOccurs="0" name="TypeId" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseTreeDto" nillable="true" type="tns:BaseTreeDto" />
  <xs:complexType name="BaseDto">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BaseDto" nillable="true" type="tns:BaseDto" />
  <xs:complexType name="UserDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseTreeDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Salt" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserGroupId" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserDto" nillable="true" type="tns:UserDto" />
</xs:schema>